<div class="d-flex justify-content-center flex-column align-items-center container">
<h1>Stupid Coaching</h1>

<div class="callout">
<p>You asked: "<%= @question %>"</p>

</div>
<p class="bd-callout bd-callout-info">Coach says: "<%= @answer %>"</p>

<a href="/ask">Ask a new question</a>

</div>
