<div class="d-flex justify-content-center flex-column align-items-center container">
<form action="/answer" data-turbo="false" class="input-group mb-3">
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Hello?" aria-label="Ask question here." name="question">
  <button class="btn btn-outline-secondary btn-primary text-white" type="submit">Ask!</button>
</div>
</form>
</div>
